  
  .slider .slider-item {
    width: 100%;
    display: none;
    transition: transform 400ms;
  }
  
  .slider .slider-item.active,
  .slider .slider-item.prev-item,
  .slider .slider-item.next-item {
    display: block;
  }
  
  .slider-item.prev-item,
  .slider-item.active.slide-next {
    transform: translateX(-100%);
  }
  
  .slider-item.active.slide-prev,
  .slider-item.next-item {
    transform: translateX(100%);
  }
  
  .slider-item.prev-item.slide-end,
  .slider-item.next-item.slide-end {
    transform: translateX(0);
  }
  
  .slide-indicators {
    z-index: 20;
    bottom: 0;
    left: 50%;
    list-style: none;
    padding: 0;
    display: flex;
  }

  .slider-control-prev,
  .slider-control-next {
    z-index: 20;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 300ms;
    background-color: #ff9f00;
    border-radius: 20px;
  }
  
  .slider-control-prev {
    left: 20px;
  }
  
  .slider-control-prev:hover,
  .slider-control-next:hover{
    opacity: 1;
  }
  
  .slider-control-next {
    right: 20px;
  }
